# CAEN
Host quincyd
    HostName login.engin.umich.edu
    User quincyd
    Compression yes

# Gitlab
Host gitlab.eecs.umich.edu
    User git
    IdentityFile ~/.ssh/gitlab_rsa

# Github
Host github.com
    User git
    IdentityFile ~/.ssh/github_rsa
