# CAEN
Host quincyd
    HostName login.engin.umich.edu
    User quincyd
    Compression yes

# Gitlab
Host quincyd
    HostName gitlab.eecs.umich.edu
    User git
    IdentityFile ~/.ssh/gitlab_rsa

# Github
Host QuincyD
    HostName github.com
    User git
    IdentityFile ~/.ssh/github_rsa
